.wrapper {
  margin: 40px;
  font-family: 'Montserrat', sans-serif;
  width: 1110px;
  height: 163px;
}

.conditions {
  padding: 20px 30px;
  margin-bottom: 30px;
  background-color: #ffff;
  border-radius: 30px;
}

.title {
  margin-bottom: 15px;
  font-size: 17px;
  color: #46464d;
}

.desc {
  font-size: 16px;
  font-weight: 400;
}
