.cases {
  padding: 60px 0;
}

.allPhones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  width: 350px;
  height: 410px;
  padding: 25px 100px 60px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: nowrap;
  flex-direction: column;
  border-radius: 30px;
  background-color: #fff;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
  }
}

.desc {
  margin: 20px 0 0 20px;
  font-size: 17px;
  font-weight: 500;
}
