.header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.start {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 65px;
}

.title {
  padding: 10px;
  width: 84px;
  font-size: 25px;
  font-weight: 700;
}

.choice {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  padding: 15px;
}

.wrapper {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 25px;
}
